/COPYING
/boot.o
/dtekv-lib.c
/dtekv-lib.h
/dtekv-lib.o
/dtekv-script.lds
/labmain.o
/main.bin
/main.elf
/main.elf.txt
/softfloat.a
/init.o
/update.o
/draw.o
/colissionDetector.o
/score.o
/timetemplate.o